/* Font Source Code */
@font-face {
    font-family: sourcecode;
    src: url(./static/SourceCodePro-Medium.ttf);
}
@font-face {
    font-family: sourcecode;
    src: url(./static/SourceCodePro-Bold.ttf);
    font-weight: bold;
}
@font-face {
    font-family: sourcecode;
    src: url(./static/SourceCodePro-Italic.ttf);
    font-style: italic;
}
@font-face{
	font-family: sourcecode;
	src: url(./static/SourceCodePro-Regular.ttf);
	font-style: regular;
}